@model IEnumerable<CapaEntidad.entDetCompra>

<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/Home/Admin">Maderera<span>Carocho</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="#hero">Inicio</a></li>
                <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
                <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
                <li><a class="nav-link scrollto " href="#portfolio">Portafolio</a></li>
                <li><a class="nav-link scrollto" href="#team">Equipo</a></li>
                <li><a class="nav-link scrollto" href="/Home/admin#contact">Contacto</a></li>
                <li class="dropdown">
                    <a href="#"><span>Gestionar</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/Usuario/ListarAdmin">Administradores</a></li>
                        <li><a href="/Usuario/ListarCliente">Clientes</a></li>
                        <li><a href="/Usuario/ListarUsuarios">Usuarios</a></li>
                        <li><a href="/Producto/Listar">Productos</a></li>
                        <li><a href="/Proveedor/Listar">Proveedores</a></li>
                        <li><a href="/ProveedorProducto/Listar">Proveedores - Productos</a></li>
                        <li><a href="/Empleado/Listar">Empleados</a></li>
                        <li><a href="/Compra/Index">Ver compras</a></li>
                        <li><a href="/Home/CerrarSesion">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/Compra/DetalleCarrito"><i class="bi bi-cart4"></i>Carrito de compra</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <center><h1>LISTA DE COMPRAS REALIZADAS</h1></center>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>LONGITUD</th>
            <th>DIAMETRO</th>
            <th>CANTIDAD</th>
            <th>SUBTOTAL</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Compra.IdCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Longitud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Diametro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subtotal)
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <br>
</div>
<br>
<br>
<br>

