@model IEnumerable<CapaEntidad.entProveedor>

@{
    ViewBag.Title = "Listar";
}
<!-- ======= Header admin======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/Home/Admin">My<span>Biz</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/Home/Admin">Inicio</a></li>
                <li><a class="nav-link scrollto" href="/Home/admin#about">Sobre</a></li>
                <li><a class="nav-link scrollto" href="/Home/admin#services">Servicios</a></li>
                <li><a class="nav-link scrollto " href="/Home/admin#portfolio">Portafolio</a></li>
                <li><a class="nav-link scrollto" href="/Home/admin#team">Equipo</a></li>
                <li><a class="nav-link scrollto" href="/Home/admin#contact">Contacto</a></li>
                <li class="dropdown">
                    <a href="#"><span>Gestionar</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/Usuario/Administradores">Administradores</a></li>
                        <li><a href="/Usuario/Clientes">Clientes</a></li>
                        <li><a href="/Usuario/ListarUsuarios">Usuarios</a></li>
                        <li><a href="/Producto/mostrar-productos">Productos</a></li>
                        <li><a href="/Proveedor/Listar">Proveedores</a></li>
                        <li><a href="/ProveedorProducto/Listar">Proveedores - Productos</a></li>
                        <li><a href="/Empleado/Listar">Empleados</a></li>
                        <li><a href="/compras-realizadas">Compras</a></li>
                        <li><a onclick="cerrarSesion('@Url.Action("CerrarSesion", "Home")')">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/Producto/productos-disponibles">Comprar</a></li>
                <li><a class="nav-link scrollto" href="/Compra/DetalleCarrito"><i class="bi bi-cart4"></i>Carrito de compra</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Contenido ======= -->
<br>
<br>
<br>
<br>
<div class="container">
    <br><h2 style="text-align: center">LISTADO DE PROVEEDORES</h2>
    <!-- Agregar producto -->

    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModInsertarProveedor"><i class="bi bi-plus-square"></i> Agregar Proveedor</button>
    <hr>
    <!-- Ordenar -->
    <a onclick="return Ordenar(this)" aria-current="page" type="button" class="btn btn-primary btn-lg" id="ASC" href="Listar?orden=asc"><i class="bi bi-sort-up"></i></a>
    <a onclick="return Ordenar(this)" aria-current="page" type="button" class="btn btn-secondary btn-lg" id="DESC" href="Listar?orden=desc"><i class="bi bi-sort-down"></i></a>
    <hr>
    <!-- Buscar -->
    <form class="d-flex mb-4" role="search" action="Listar" method="POST" id="Bproveedor">
        <input class="form-control me-2" type="search" placeholder="Buscar" name="dato" aria-label="Search">
        <button onclick="return Buscar('Bproveedor')" class="btn btn-outline-success" type="submit">Buscar</button>
    </form>

    <div class="table-responsive">
        <table table class="table table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    IdProducto
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Longitud
                </th>
                <th>
                    stock
                </th>
                <th>
                    precioCompra
                </th>
                <th></th>
            </tr>
            @{
                int count = 0;
                int idProo = 0;
            }

            @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            count++;
                            idProo = item.Proveedor.IdProveedor;
                        }
                        @count
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Producto.IdProducto)</td>
                    <td>@Html.DisplayFor(modelItem => item.Producto.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Producto.Longitud)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Producto.Stock)</td>
                    <td>@Html.DisplayFor(modelItem => item.PrecioCompra)</td>
                    <td><a onclick="return Eliminar(this)" href="/Proveedor/EliminarDetalle?idprov=@item.Proveedor.IdProveedor&idprod=@item.Producto.IdProducto" class="btn btn-danger" type="button"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }*@
        </table>
    </div>
</div>
<br>
<br>
<br>

<!--Agregar Detalle Provedor Producto-->
<div class="modal" tabindex="-1" id="ModElegirProducto" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/Proveedor/ElegirProductos" method="POST" id="mdproveedor">
                <div class="modal-header ">
                    <h5 class="modal-title">Ingresar Proveedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        @Html.DropDownList("Pr", (SelectList)ViewBag.producto, "Seleccionar", new { @class = "form-select", required = "required" })
                        <label for="tipo" class="form-label">Producto: </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="precio" id="precio" placeholder="Precio de compra" required>
                        <label for="floatingInput">PrecioDeCompra</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="hidden" class="form-control" name="proveedor" id="proveedor" placeholder="proveedor" value=@idProo required>
                    </div>
                    <div>
                        <input type="hidden" id="llenarparametro" value="lleno" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="return Registrar('precio', 'proveedor', 'llenarparametro', 'mdproveedor')" type="submit" class="btn btn-dark">Registrar</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>